div {
    background-color: #031023;
    border: none;
    color:white;
}

h3,
h4,
li {
    background-color: #031023;
    color: white;
    padding-left: 15px;
}

footer {
    position: -ms-device-fixed;
    background-color: #031023;
    bottom: 0;
    min-height: 54vh;
}