div {
    background-color: #031023;
    border: none;
    color:white;
}

h3 {
    background-color: #031023;
}

footer {
    position: -ms-device-fixed;
    background-color: #031023;
    bottom: 0;
    min-height: 54vh;
}