.signin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: #031023;
    width: 100%;
}


form {
    display: flex;
    flex-direction: column;
    background-color: #031023;
    padding: 32px;
    max-width: 300px;
    border-radius: 4px;
}

.h1 {
    background-color: #031023;
}

.register {
    color: white;
}

.register:visited {
    color: yellowgreen;
}

.register:hover {
    color: red;
}

form label {
    margin: 4px 0;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 4px 8px;
    margin: 6px 0;
}

footer {
    background-color: #0A1E3A;
    }

