#search-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0A1E3A;
    margin-left: 37%;
    margin-color: #0A1E3A;
}
h3 {
    background-color: #0A1E3A;
    margin: 0;
}
h4 {
    background-color: #0A1E3A;
    margin: 0;
}

h1 {
    background-color:  #031023;
    color: white;
    margin: 0;
    align-content: center;
    justify-content: center;
    display: flex;
}
#search-form1 {
    justify-content: center;
}
#search-form4 {
    display: flex;
    justify-content: center;
}
.art-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1vh 1vh;
    height: 750px;
    width: 23%;
    float: left;
}


ul {
    padding-left: 20px;
    padding-right: 20px;
}

.art-body {
    display: table-cell;
    border-collapse: collapse;
    table-layout: fixed;
    inline-size: 300px;
    word-wrap: normal;
    border: 2px solid black;
    border-radius: 2vh;
    background-color: white;
}

footer {
    position: -ms-device-fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    min-height: 10px;
    left: 0;
    bottom: 0;
    padding: 10px 10px 0px 10px;
    margin-top: auto;
    z-index:1;
    background-color: #031023;
}

header {
    position: -ms-device-fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    min-height: 75px;
}