.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #031023;
    color: white;
    width: 100%;
}


form {
    color: white;
    background-color: #0A1E3A;
    border-color: #F6BC41;
    border-width: 5px;
    border-style: solid;
    padding: 32px;
    max-width: 300px;
    border-radius: 5px;
}

form label {
    margin: 4px 0;
    text-align: center;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 4px 8px;
    margin: 6px 0;
}

.submit-button {
    text-align: center;
}

h1 {
    background-color: #031023;
    margin: 0;
}

.login {
    color: white;
}

.login:visited {
    color: yellowgreen;
}

.login:hover {
    color: red;
}
