form {
    display: flex;
    flex-direction: column;
    background-color: #faeab3;
    padding: 32px;
    max-width: 300px;
    border-radius: 4px;
}

form label {
    margin: 4px 0;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 4px 8px;
    margin: 6px 0;
}

footer {
    position: -ms-device-fixed;
    background-color: #f6efd9;
    bottom: 0;
    min-height: 65vh;
}
